.HeaderLayoutContainer{
    width: 100%;
    display: flex;
    height: auto;
    background-color: var(--themeColor);
}
.HeaderRight{
    padding: 0.5rem 0.5rem ;
    display: flex;
    /* justify-content: center; */
    /* align-content: center; */
    /* align-items: center; */
    width: 50%;
    /* background-color: rosybrown; */
}
.HeaderLeft{
    width: 50%;

    /* background-color: orange; */

}
#logo{
    width: 2.5rem;
    border-radius: 5px;
    height:  2.5rem;
}