.UpdateUserContainer{
    width: 100%;
    height: 100%;
    /* background-color: pink; */
    color: var(--fontColor);
    padding: 1rem;
    display: flex;
    flex-direction: column;

}

.avatarContainer{
    /* background-color: orange; */
    display: flex;
    justify-content: center;
    align-content: center;

}
.avatarContainer img{
    border-radius: 50%;

}
.upDateinfoContianer{
    /* background-color: orange; */
    padding: 0.5rem;
    font-size: 0.5rem !important;
}
.updateBtnContainer{
    /* background-color: pink; */
    display: flex;
    justify-content: center;
    padding: 0.5rem;

}

